:root {

}

* {
    border: 1px solid red;
}

header {
    background-image: url("./images/pattern.jpeg")
}

h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: 700;
    color: khaki;
    margin: 0;
    padding: 0;
}