:root {

}

* {
    border: 1px solid red;
    font-family: Helvetica;
    font-weight: 700;
}

header {
    background-image: url("./images/pattern.jpeg");
}

h1 {
    font-size: 100px;
    text-align: center;
    color: khaki;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

p {
    color: black;
    font-weight: 400;
}

a {
    color: blue;
    font-weight: 700;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}